{% extends "base.html" %}

{% block title %}Actualizar empleado{% endblock %}

{% block header %}
<h1>Empleados</h1>
<nav>
    <a href="{{ url_for('index') }}">Mostrar proyectos</a>
    <a href="{{ url_for('index_workers') }}">Mostrar empleados</a>
    <a href="{{ url_for('add_worker') }}">Crear empleado</a>
</nav>
{% endblock %}

{% block content %}
<h2>Actualizar empleado</h2>
<form method="post">
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" value="{{ item.name }}" required>
    <label for="description">Descripción:</label>
    <textarea name="description" id="description" required>{{ item.description }}</textarea>
    <button type="submit">Actualizar</button>
    <a href="{{ url_for('index_workers') }}" class="cancel-button">Cancelar</a>
</form>
{% endblock %}
