{% extends "base.html" %}

{% block title %}Actualizar proyecto{% endblock %}

{% block content %}
<h2>Actualizar proyecto</h2>


<form method="post">
    <table class="table table-bordered">
        <tbody>
            <!-- Fila para Nombre -->
            <tr>
                <td><label for="name">Nombre:</label></td>
                <td><input type="text" name="name" id="name" class="form-control" value="{{ project.name }}" required></td>
            </tr>
            <!-- Fila para Descripción -->
            <tr>
                <td><label for="description">Descripción:</label></td>
                <td><textarea name="description" id="description" class="form-control" required>{{ project.description }}</textarea></td>
            </tr>
            <!-- Fila para Fecha de inicio -->
            <tr>
                <td><label for="start_date">Fecha de inicio:</label></td>
                <td><input type="date" name="start_date" id="start_date" class="form-control" value="{{ project.start_date }}" required></td>
            </tr>
            <!-- Fila para Fecha de fin -->
            <tr>
                <td><label for="end_date">Fecha de fin:</label></td>
                <td><input type="date" name="end_date" id="end_date" class="form-control" value="{{ project.end_date }}" required></td>
            </tr>
        </tbody>
    </table>
    <!-- Botones de Acción -->
    <div class="d-flex justify-content-between">
        <button type="submit" name="update_project" ="btn btn-primary">Actualizar</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>



<form method="post">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <h2>Participantes</h2>
            </tr>
            <!-- Fila para Asignar trabajador -->
            <tr>
                <td><label for="worker">Asignar trabajador:</label></td>
                <td>
                    <select name="worker" id="worker" class="form-control" required>
                        {% for worker in workers %}
                        <option value="{{ worker.worker_id }}" {% if worker.worker_id == project.project_id %}selected{% endif %}>
                            {{ worker.name }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <!-- Fila para Asignar rol -->
            <tr>
                <td><label for="role">Asignar trabajador:</label></td>
                <td>
                    <select name="role" id="role" class="form-control" required>
                        {% for role in roles %}
                        <option value="{{ role.role_id }}" {% if role.role_id == project.project_id %}selected{% endif %}>
                            {{ role.name }}
                        </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <!-- Fila para Fecha de inicio -->
            <tr>
                <td><label for="start_date">Fecha de inicio:</label></td>
                <td><input type="date" name="start_date" id="start_date" class="form-control" value="{{ project.start_date }}" required></td>
            </tr>
            <!-- Fila para Fecha de fin -->
            <tr>
                <td><label for="end_date">Fecha de fin:</label></td>
                <td><input type="date" name="end_date" id="end_date" class="form-control" value="{{ project.end_date }}" required></td>
            </tr>
        </tbody>
    </table>
    <!-- Botones de Acción -->
    <div class="d-flex justify-content-between">
        <button type="submit" name="add_worker" class="btn btn-primary">Actualizar</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{% endblock %}
